@model TimeToRun.Models.WeatherModel

@section Styles {
    <link href="@Url.Content("./day-forecast.scss")" rel="stylesheet" type="text/css" />
}

<div class="forecast-container">
    <div class="day">@Model.Date</div>
    <div class="conditions">
        <div>@Model.TemperatureMax&deg;</div>
        <div>@Model.TemperatureMin&deg;</div>
    </div>
    <div class="status">@Model.Status</div>
</div>